

  /* put all media queries inside one  */

@font-face {
    font-family: fedraMonoBold;
    src: url('../fonts/FedraMono-Bold.otf');
  }

@font-face {
  font-family: fedraMonoNormal;
  src: url('../fonts/FedraMono-Normal.otf');
}

@font-face {
  font-family: fedraMonoBook;
  src: url('../fonts/FedraMono-Book.otf');
}

@font-face {
  font-family: fedraSerifNormal;
  src: url('../fonts/FedraSerifA-Normal.otf');
}

@font-face {
  font-family: fedraSerifBook;
  src: url('../fonts/FedraSerifA-Book.otf');
}

@font-face {
  font-family: fedraSerifBookItalic;
  src: url('../fonts/FedraSerifA-BookItalic.otf');
}


@font-face {
  font-family: fedraSansBookSC;
  src: url('../fonts/FedraSans-BookSC.otf');
}

@font-face {
  font-family: fedraSansBookItalic;
  src: url('../fonts/FedraSans-BookItalic.otf');
}

@font-face {
  font-family: fedraSansBook;
  src: url('../fonts/FedraSans-Book.otf');
}

header{
  /*display: none;*/
}

html{
  margin: 0;
  padding: 0;
  height: 100%;
  }

body{
  height: 100%;
  padding: 0px;
  color: #9B9B9B;
  overflow: hidden;
}


::-webkit-scrollbar {
    width: 0.01em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 0px solid slategrey;
}


p{
  font-family:fedraMonoBook;
  color: #9B9B9B;
}


li{
  list-style-type: none;
  font-family:fedraMonoBook;
  color: #9B9B9B;
}

li:hover{
  list-style-type: none;
  cursor: pointer;
  font-family:fedraMonoBook;
  color: #9B9B9B;
}


a{
  color: inherit;
}

a:link{
  font-family:fedraMonoBook;
  text-decoration: none;
  color: #9B9B9B;
}

a:hover{
  font-family:fedraMonoNormal;
  text-decoration: none;
  color: #4A90E2;
}

a:active{
  text-decoration: none;
  color: #4A94E3;
}

hr{
  color: #E3E3E3;
}

#divider-style {
  margin: 0;
 width: 3px;
 border-bottom: 1px;
 color: #4A90E2;
 opacity: 0.7;
}

  /*-- main containter for background lines -- */
.grid-container {
      width : 100%;
      /*max-width : 1200px;*/
      height: 100%;
      display: flex;
      flex-direction: row;
  }

/*-- 3 main sections -- */
.navigation{
  position: fixed;
  left:0;
  top:0;
  width: 16.66%;
}

.filter-block{
  position: fixed;
  left: 87.5%;
  top: 34%;
  z-index: 1000;
}

#filter-hover{
  color: #4A90E2;
}

.projects{
  position: fixed;
  width: 66.64%;
  left: 16.66%;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  z-index: 950;
}

.projects-inside{
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 83.33%;
  left: 16.66%;
  top: 0;
  bottom: 0;
  z-index: 950;
}

.right-column{
  display: inline-block;
  width:15.66%;
  position: fixed;
  right:0;
}


/*-- .navigation : sub-divs -- */
.header-img{
  padding-left:15%;
  padding-top:20%;
}

.menu-img{
  display: none;
}

.in-menu-img{
  display: none;
}

.nav-menu{
  display: list-item;
  width:100%;
  font-family: fedraSerifNormal;
  padding:0 0 0 0;
  margin: 230% 0% 0% 10%;
  list-style: none;

  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);

  transform-origin: left top;
}

#project-name{
  color:#4A90E2;
  /*font-family: fedraSansBookItalic;
  letter-spacing: 1px;
  font-size:12px;*/
}

#nav-menu-leading{
  font-family: fedraSansBookSC;
  font-size:11px;
  letter-spacing: 2px;
  line-height:0%;
}

.email{
  position: fixed;
  bottom: 5%;
  left:2%;
}

#email{
  font-size:12px;
  line-height:20%;
}



/*-- background grid lines -- */
.lines{}

[class*='line-']{
  height: 100%;
  left: 16.66%;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 12;
  background-color: #000;
  opacity: .07;
  width: 1px;
  z-index: 900;
}

    .line-1 {
      left: 16.66%;
    }

    .line-2 {
      left: 33.33%;
    }

    .line-3 {
      left: 50%;
    }

    .line-4 {
      left: 66.66%;
    }

    .line-5 {
      left: 83.33%;
    }

    .line-6 {
      left: 100%;
    }



.project-filter{
  font-size: 15pt;
  line-height: 20pt;
  width: 16.66%;
  top:0;
  left:0;
  right:0;
}


#answers{
  clear: right;
}

#questions{
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  -o-transform:rotate(-180deg);
  -webkit-transform:rotate(-180deg);

  transform-origin: right center;
}

#all{
  height:50%;
  margin: 0;
  clear: right;
}

#project-counter{
  position: fixed;
  font-size: 10pt;
}

/*.copyright{
  font-size: 10pt;
  bottom: 0;
  right:4%;
}*/

.projects-left-container{
  display:inline-block;
  width: 50.02%;
  left: 33.33%;
  float: left;
  list-style: none;
  padding-left: 0px;
}

.projects-left{
  display:flex;
  width: 50%;
  padding-top: 20%;
  /*-webkit-transition: width 2s, height 4s;*/
  transition: all 0.2s ease-in-out;
}

.projects-right-container{
  display:inline-block;
  padding-left: 0.2%;
  right:66.66%;
  width: 50%;
  float: right;
}

.projects-right{
  display:flex;
  width: 50%;
  padding-bottom: 35%;
  /*-webkit-transition: width 2s, height 4s;*/
  transition: all 0.2s ease-in-out;

}

.project-thumbnail{
    display:inline-block;
}

.hide{
  transform: scale(0);
  width:0;
  padding:0;
  /*-webkit-transition: width 2s, height 4s;*/
  transition: all 0.2s ease-in-out;
}


/*-- inside project -- */

.project-summary{
  display: inline-block;
  position: fixed;
  left: 2.5%;
  right: 85%;
  top: 10%;
}

.summary-links{
  font-family: fedraSerifBook !important;
  font-size: 11px;
  color: #4A90E2;
}

.publication-links{
  display: inline-block;
  position: fixed;
  left: 2.5%;
  right: 85%;
  bottom: 19%;
}

.ed-name{
  color: #4A90E2 !important;
  font-size: 11.5px;
  line-height: 20px;
}
.ed-name-selected{
  color: #ff00d8 !important;
  font-weight: bold;
  font-size: 11.5px;
  line-height: 20px;
}

.text-link{
  color: #4A90E2 !important;
}

.summary-project-title{
  display: inline-block;
  font-family: fedraSansBookSC;
  letter-spacing: 0px;
  font-size: 1.3em;
  margin-top: 42px;
  margin-bottom: 0;
  color: #4A90E2;
}

.summary-intro-text{
  font-family: fedraSerifBook;
  font-size: 11px;
}

.summary-text{
  font-family: fedraSerifBook;
  font-size: 11px;
}

.right-column-inside{
  display: inline-block;
  position:fixed;
  width:15%;
  top: 82%;
  left:85.33%;
  right: 3%;
}

.swiper-container {
  width:97%;
  height:77%;
  display:inline-block;
  position:relative;
  top: 4%;
  margin: 0;
}

.swiper-button-prev, .swiper-button-next{

}

.swiper-scrollbar{
  display: none;
}

#image-list{
list-style: none;
}

.project-intro-text{
  padding-top: 2%;
  width: 80%;
}

#intro-text-styling{
  font-family: fedraSansBook;
  font-size: 16px;
  line-height: 24px;
  margin:3%;
  color: #797878;
}

.project-title{
  position:fixed;
}

#title-text-styling{
font-family: fedraSansBook;
text-shadow: 1px 0px 6px rgba(0,0,0, 0.38);
font-size:25px;
color: #4A90E2;
}


#project-credits{
position: fixed;
font-size: 10px;
line-height: 12px;
padding-right: 2%;
top: 81.5%;
}

#copyright{
position: fixed;
font-size: 10px;
bottom: 3%;

}



/*-- about -- */

.about-bg{
  background-color: yellow;
}

.bio-section{
  display: inline-block;
  position: fixed;
  width: 83.33%;
  left: 16.66%;
  top: 0;
  bottom: 0;
}

.bio-image{
  position: relative;
  display: flex;
  left: 0;
  top: 20%;
  width: 20%;
}

.bio-text{
  position: relative;
  display: flex;
  width: 30%;
  left: 35%;
  top: 23%;
}

#bio-text{
font-family: fedraSansBook;
font-size: 18px;
color: #4A90E2;
line-height: 26px;
}

.skills{
  position: relative;
  display: flex;
  width: 14%;
  left: 38.7%;
  top: 23%;
}

#skills{
font-family: fedraSansBook;
font-size: 18px;
color: #4A90E2;
line-height: 26px;
}

.social-media{
  position: relative;
/* background-color: yellow; */
/*display: flex;*/
margin: 0;
padding: 14px;
left: -27.35%;
top: 52%;
width: 14.7%;

}

.social-media-links{
  font-size: .78em;
  display: inline-block;
  padding: 5px;
  float:left;
  clear: right;

}


/*-- content columns -- */
[class*='col-'] {
        position: fixed;
        width: 16.66%;
        height:100%;
        top: 0;
        z-index: 12;
    }

    .col-1{
       width: 16.66%;
   }


  @media all and (max-width:1200px) {
        .col-1{ width: 33.33%;    }
    }

    @media (max-width:800px) {

      .grid-container {
        display: flex;
        flex-direction: column;
      }
          .col-1 {
            width: 33.33%;
          }

          .right-column{
            display: none !important;
          }
          .project-filter{
            display: none;
          }
          .projects{
            top: 8% !important;
            min-width: 100% !important;
            left: 0 !important;
          }

          .menu-img{
            display: block !important;
            position: fixed;
            top: 25px;
            left: 34px;
            padding: 0 !important;
            margin: 0 !important;
            z-index: 999999;
          }

          .in-menu-img{
            display: block !important;
            position: fixed;
            top: 25px;
            left: 34px;
            padding: 0 !important;
            margin: 0 !important;
            z-index: 999999;
          }


          .drawer-nav{
            display: list-item;
            width:40%;
            z-index: 9999999999 !important;
            font-family: fedraSansBookSC !important;
            font-size:11px;
            letter-spacing: 2px;
            line-height:10%;
          }

          .drawer-menu{
            line-height: 50%;
          }

          .drawer--top.drawer-open .drawer-nav {
            top: 93px;
          }

          .drawer--top .drawer-nav {
            top: -100%;
            left: 51px;
             width: 35.5%;
            /* padding: 0; */
            height: auto;
            max-height: 100%;
            -webkit-transition: top .6s cubic-bezier(.19, 1, .22, 1);
            transition: top .6s cubic-bezier(.19, 1, .22, 1);
          }

          .navigation{
            display: block;
            position: relative;
            width: 100%;
          }

          header{
            display: inline;
          }

          .header-img{
            display: none;
            padding-left: 15%;
            padding-top: 10%;
          }

          .project-summary{
            display: block;
            position: relative;
            padding-top: 6%;
            width: 100%;
          }

          .projects-inside {
            display: flex;
            left: 0;
            flex-direction: column-reverse;
            position: relative;
            /*position: fixed !important;*/
            width: 103% !important;
            /*left: 1.5% !important;
            top: 0 !important;
            bottom: 0 !important;*/
            z-index: 950 !important;
          }

          .project-intro-text {
            width: 97%;
            padding-top: 6%;
          }

          .image-scroll{
            /*top: 45%;*/
          }

          .in-lines{
            display: none;
          }

          .summary-project-title {
            letter-spacing: 0px;
            font-size: 1.3em;
            top: 10%;
            margin-bottom: 0;
          }

          .summary-text {
            margin-bottom: -9px;
          }

          .right-column-inside {
           display: flex;
           width: 100%;
           top: 650px;
           left: 3%;
           right: 0;
          }

          #project-credits {
            position: relative;
            display: flex;
          }

          #copyright {
            position: relative;
            display: flex;
          }

          .swiper-text-hidden{
            display: none;
          }

          .drawer-hamburger{
            top: 51px;
            left: 50px;
          }

          /*about*/

          .bio-image{
            top: 16%;
            width: 60%;
          }

          .bio-text{
            /*position: relative;*/
            /*display: flex;*/
            width: 66%;
            left: 20%;
            top: 35%;
          }

          #bio-text{
            font-size: 14px;
            line-height: 19px;
          }

          .skills{
            /*display: flex;*/
            /*position: relative;*/
            width: 60%;
            left: 20%;
            top: 40%;
          }

          #skills{
            font-size: 14px;
            line-height: 19px;
          }

          .social-media{
            /*display: flex;*/
            left: 15%;
            top: 43%;
          }
    }

.dummy-hover-answers{
  display: none;
}

.dummy-hover-questions{
  display: none;
}

.hover-text{
   /*#ff00d8*/
  color: #4A90E2;
  background-color:yellow;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 400%;
}

.hover-active{
  display: inline;
  position: absolute;
  top: 0%;
  left: 85%;
}

.swiper-text-hidden {
  display: none;
}

/* hover tooltip project name */

.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltiptext {
    font-family: fedraSansBookSC;
    /*font-weight: bold;*/
    visibility: hidden;
    width: 120%;
    background-color: yellow;
    color: #4A90E2;
    text-align:left;
    /*border-radius: 6px;*/
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
